<h4 class="text-center">Login</h4>

<form class="form mt-4" (ngSubmit)="login()" #loginForm="ngForm">
  <div class="form-group">
    <input
      #campoUsuario="ngModel"
      [(ngModel)]="usuario"
      name="usuario"
      type="text"
      class="form-control"
      placeholder="Nome do usuário"
      required/>

    <app-mensagem
      *ngIf="campoUsuario.invalid && campoUsuario.touched"
      [mensagem]="'Usuário Obrigatório'">
    </app-mensagem>
  </div>


  <div class="form-group">
    <input
      #campoSenha="ngModel"
      [(ngModel)]="senha"
      name="senha"
      type="password"
      class="form-control"
      placeholder="Senha"
      required/>

    <app-mensagem
      *ngIf="campoSenha.invalid && campoSenha.touched"
      [mensagem]="'Senha Obrigatóra'">
    </app-mensagem>
  </div>

  <button type="submit" class="bnt btn-primary btn-block" [disabled]="loginForm.invalid" >Login</button>
</form>

<p>Não é um usuário? <a [routerLink]="['novoUsuario']"> Se Cadastre </a></p>
